<template>
  <div>
    <div class="comm_main">
      <!-- <div class="main_title">去中心化预算系统</div> -->
      <div class="mobile_top_show">
        <div class="main_des_bg"></div>
        <div class="des_ct">
            <div class="des_item_ct">
              <div class="des_item_content">30%</div>
              <div class="des_item_title">
                {{ lang['data']['预算占通胀发行百分比'] }}
              </div>
            </div>
            <div class="des_item_ct">
              <div class="des_item_content">{{ eosc_assets }} EOSC</div>
              <div class="des_item_title">
                {{ lang.data['当前待分配预算'] }}
              </div>
            </div>
             <div class="des_item_ct">
              <div class="des_item_content">
                {{ lang.data['管理委员会成员名单'] }}
              </div>
              <div class="des_item_title">
                <template v-if="committee">
                  <span v-for="item in committee.member">{{ item }}、</span>
                </template>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="publish_action_ct">
            <a class="publish_btn" v-if="scatter_configs.has_scatter == 1" @click="call_scatter">登录Scatter,发起提案</a>
            <router-link class="publish_btn" :to="{'name': 'publish'}" v-if="scatter_configs.has_scatter == 2 && account_info.available > 0">
              {{ lang.data['发起提案'] }}
            </router-link>
            <!-- <a class="publish_btn" @click="public" v-if="scatter_configs.has_scatter == 2 && account_info.available > 0">

            </a> -->
            <a class="publish_btn" @click="pledge_for_public" v-if="scatter_configs.has_scatter == 2 && account_info.available <= 0">
            抵押不足不能发起提案，点击去抵押 
            </a>
            <a class="publish_btn" href="https://eosforce.gitbook.io/eosforce/jiao-cheng/scatter-pei-zhi-jiao-cheng" target="_blank" v-if="scatter_configs.has_scatter == -1">
              {{ lang.data['点击安装Scatter，安装后才可提案'] }}
            </a>
            <a class="publish_btn"  v-if="scatter_configs.has_scatter == 0">
            <div class="load_circle" ></div>
            </a>
          </div> 
          <!--  -->
      </div>
      <div class="main_des">
        <div class="main_des_bg"></div>
        <div class="main_des_content">

          <div class="top_line">
            <div class="top_line_vertical"></div>
          </div>

          <div class="des_ct">
            <div class="des_item_ct">
              <div class="des_item_content">30%</div>
              <div class="des_item_title">
                {{ lang['data']['预算占通胀发行百分比'] }}
              </div>
            </div>
            <div class="des_item_ct">
              <!-- <div class="des_item_content">{{ toal_reward }} EOSC</div> -->
              <div class="des_item_content">{{ eosc_assets }} EOSC</div>
              <div class="des_item_title">
                {{ lang.data['当前待分配预算'] }}
              </div>
            </div>
             <div class="des_item_ct">
              <div class="des_item_content">
                {{ lang.data['管理委员会成员名单'] }}
              </div>
              <div class="des_item_title">
                <template v-if="committee">
                  <span v-for="item in committee.member">{{ item }}、</span>
                </template>
              </div>
            </div>
          </div>

          <div class="publish_btn">
            <a href="https://eosforce.gitbook.io/eosforce/jiao-cheng/mai-zi-qian-bao-pei-zhi-jiao-cheng" class="view_instruction" target="_blank">
              {{ lang.data['查看使用教程'] }}
            </a>
            <a class="publish_btn" v-if="scatter_configs.has_scatter == 1" @click="call_scatter">
              {{ lang.data['发起提案'] }}
            </a>
            <router-link class="publish_btn" :to="{'name': 'publish'}" v-if="scatter_configs.has_scatter == 2 && account_info.available > 0">
              {{ lang.data['发起提案'] }}
            </router-link>
            <!-- <a class="publish_btn" @click="public" v-if="scatter_configs.has_scatter == 2 && account_info.available > 0">
              
            </a> -->
            <a class="publish_btn" @click="pledge_for_public" v-if="scatter_configs.has_scatter == 2 && account_info.available <= 0">
              {{ lang.data['抵押不足不能发起提案，点击去抵押'] }}
            </a>
            <a class="publish_btn" href="https://eosforce.gitbook.io/eosforce/jiao-cheng/scatter-pei-zhi-jiao-cheng" target="_blank" v-if="scatter_configs.has_scatter == -1">
              {{ lang.data['点击安装Scatter，安装后才可提案'] }}
            </a>
            <a class="publish_btn"  v-if="scatter_configs.has_scatter == 0">
              <div class="load_circle" ></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import {
  publish,
  open_and_plege,
  call_scatter,
  get_available
} from '../service'
import {
  split_long_num
} from '../utils'
import { lang } from '../lang'
export default {

  data () {
    return {
      eosc_assets: 0,
      lang
    }
  },

  computed: {
    toal_reward () {
      return split_long_num(this.account_info.total_reward.total);
    },
    ...mapState(['scatter_configs', 'account_info']),
    ...mapGetters([
        'account_name',
        'committee'
      ])
  },

  watch: {
    account_name () {
      this.check_plege();
    },
  },

  mounted () {
    this.query_committee();
    this.get_available();
  },

  methods: {
    
    async get_available () {
      let res = await get_available('eosc.budget');
      this.eosc_assets = res ;
    },

    async call_scatter () {
      await call_scatter();
    },

    async public () {

    },

    async pledge_for_public () {
      let res = await open_and_plege().catch(error => {
        alert(error);
        throw error;
      })
      this.check_plege();
    },

    ...mapActions({
      'check_plege': 'check_plege',
      'call_scatter': 'call_scatter',
      'query_committee': 'query_committee'
    }),

    split_long_num

  }

}
</script>