<template>
  <div>
    <div class="comm_main">
      <div class="main_title">{{ title }}</div>
    </div>
  </div>
</template>
<script>
import { lang } from '../lang'
export default {
  data () {
    return {

    }
  },

  props: {
    title: {
      type: String,
      default () {
        return lang.data['去中心化预算系统'];
      }
    }
  },

  methods: {
    
  }
}
</script>