*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  background: #FBFBFA;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}
.logo{
  width: 110px;
  height: 38px;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.comm_main{
  width: 1200px;
  margin: 0 auto;
}
.arrow{
  width: 12px;
  height: 10px;
  background-image: url('../images/login_arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.publish_ct{
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.publish_ct .close_icon{
  position: relative;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 22px;
  right: 30px;
  cursor: pointer;
  z-index: 4;;
}
.publish_ct .close_icon .close_item{
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -1px;
  width: 16px;
  height: 2px;
}
.publish_ct .close_icon .close_icon_1{
  transform: rotateZ(-135deg);
}
.publish_ct .close_icon .close_icon_2{
  transform: rotateZ(-45deg);
}
.publish_ct .pb_title{
  font-size: 30px;
  line-height: 1;
  padding-bottom: 42px;
}
.publish_ct .publish_btn{
  width: auto;
  position: relative;
  display: inline-block;
  padding: 0px 49px;
  line-height: 54px;
}

.publish_btn .load_circle{
  border: 1px solid #f7f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
}

.motion_item_status{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 90px;
}
.des_item_tt{
  font-size: 29px;
  line-height: 1;
  font-weight: bold; 
  margin-top: 30px;
}
.mis_box .mis_box_item{
  width: 100%;
}

.motion_actions_ct{
  display: flex;
  justify-content: space-between;
}
.motion_expand{
  font-size: 13px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
}
.motion_expand .down_arrow{
  margin-left: 5px;
}
.down_arrow{
  width: 8px;
  height: 8px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
}
.motion_action_brief{
  display: flex;
}
.motion_action_tagct{
  margin-left: 18px;
}
.motion_action_title{
  color: #898989;
  margin-right: 10px;
}
.motion_action_content{
  color: #000;
  font-weight: bold;
}

.motion_item_load_ct .load_more{
  cursor: pointer;
}

.confirm_bar{
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px 46px;
  box-sizing: border-box;
  font-size: 16px;
}
.confirm_bar_text{
  color: #fff;
}
.confirm_bar_btn{
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 0px 40px;
  font-size: 16px;
  border-radius: 3px;
}
.confirm_bar_actions{
  display: flex;
}
.confirm_bar_actions .confirm_bar_btn{
  margin-left: 22px;
}
.white_btn{
  background-color: #fff;
  color: #000;
}
.motion_item_title_txt{
  max-width: 639px;
  line-height: 31px;
}
.motion_item_status_ct{
  position: relative;
}
.motion_item_status_detail{
  position: relative;
}
.motion_item_top .motion_item_status{
  margin-left: 0px;
  width: auto;
}
.motion_detail_pane .motion_item_status{
  position: relative;
}
p a{
  color: #3bab3f;
}
.view_instruction{
  position: absolute;
  left: 0px;
  top: -28px;
  color: #009688;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: left;
}
.editor_view_template{
  color: #009688;
  text-decoration: none;
  margin-left: 10px;
}
@media (max-width: 800px) {
  .confirm_bar{
    padding: 0px 15px;
  }
  .confirm_bar_text{
    display: none;
  }
  .confirm_bar_actions{
    justify-content: space-between;
    width: 100%;
  }
  .confirm_bar_actions .confirm_bar_btn{
    margin: 0px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg)
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);    
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  /*50% {transform: rotate(180) }*/
  100% {
    transform: rotate(360deg)
  }
}

.load_circle{
    border: 1px solid #0bceaa;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation: rotate 1s linear infinite;    
}

.base_load_ct{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.main_title{
  font-size: 34px;
  line-height: 1;
  padding-top: 72px;
  padding-bottom: 46px;
  font-weight: 500; 
}
.main_des{
  display: flex;
  justify-content: space-between;
}
.main_des_bg{
  height: 432px;
  width: 64%;
  background-color: #eee;
  background-image: url('../images/budget_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.main_des_content{
  height: 432px;
  width: 36%;
  margin-left: 36px;
  position: relative;
}

.top_line{
  height: 3px;
  position: relative;
  background-color: #E7E7E7;
}
.top_line_vertical{
  position: absolute;
  height: 3px;
  left: 0px;
  width: 100px;
  background-color: #000;
}
.des_item_content{
  font-size: 20px;
  line-height: 1;
  padding-top: 27px;
  font-weight: 500;
}
.des_item_title{
  font-size: 12px;
  color: #898A8A;
  padding-top: 10px;
}
.publish_btn{
  display: flex;
  background: #000;
  color: #fff;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.publish_btn:hover{
  box-shadow: 0px 0px 7px #444343;
}
.motion_item_cts li{
  list-style: none;
}
.motion_item_ct{
  border-bottom: 1px solid #d8d8d845;
  padding-bottom: 30px;
  display: flex;
}
.motion_item_title{
  font-size: 22px;
  line-height: 1;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
  font-weight: 500;
}
.motion_item_content{
  font-size: 15px;
  line-height: 28px;
  color: #898989;
  width: 64%;
  padding-right: 73px;
}
.mis_title{
  padding-top: 35px;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 33px;
}
.mis_box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #eee;
}
.mis_box .mis_box_item{
  border-right: 1px solid #eee;
  width: 106px;
  text-align: center;
}
.mis_box .mis_box_item:last-child{
  border-right: 0px;
}
.mis_box_item_tag{
  font-size: 12px;
  color: #898989;
}
.mis_box_item_days{
  font-size: 18px;
  line-height: 28px;
}
.load_more_ct{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.load_more_ct .load_more{
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 62px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.footer{
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.form_item_ct{
  margin-bottom: 32px;
}
.form_item_tag{
  font-size: 12px;
  line-height: 1;
  padding-bottom: 20px;
}
.item_ipt{
  border-radius: 0px;
  border: 1px solid #E7E7E7;
  height: 41px;
  outline: none;
  width: 100%;
  padding: 0px 10px;
}
.item_ipt:focus{
  border: 1px solid #2196F3;
}
.item_text_area{
  padding: 10px;
  min-height: 200px;
}

.form_item_error{
  color: #c70a0a;
  font-size: 12px;
}

.no_data{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_nav{
  border-bottom: 1px solid #d8d8d845;
  height: 72px;
  background: #fff;
}
.top_nav_fixed{
  z-index: 1;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}
.top_nav .logo{
  transform: scale(0.82);
}
.top_nav .comm_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.login_module{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.login_module .arrow{
  margin-left: 10px;
}
.login_module:hover{
  color: #03A9F4;
}
.load_circle{
  width: 12px;
  height: 12px;
  border: 1px solid #0f4c12;
  border-bottom: 1px solid #2196f300;
  margin-left: 10px;
}
.motion_item_cts{
  padding: 0px;
}

.items_title{
  margin-top: 62px;
  border-bottom: 1px solid #d8d8d845;
  border-top: 1px solid #d8d8d845;
}
.items_title .comm_main{
  height: 66px;
  display: flex;
  align-items: center;
}
.items_title .items_title_txt{
  font-size: 16px;
  font-weight: 500;
}
.items_title .tags_ct{
  display: flex;
  padding: 0px 20px;
}
.items_title .tags_ct .tag_item{
  font-size: 12px;
  padding: 2px 10px;
  cursor: pointer;
}
.items_title .tags_ct .tag_item_selected{
  color: green;
  font-weight: bold;
}

.motion_item_cts .motion_item_title a{
  color: #333;
  text-decoration: none;
}
.motion_item_cts li{
  cursor: pointer;
}
.motion_item_cts li:hover a{
  color: #009688;
}
.motion_item_cts li:hover .motion_item_content{
  color: #607D8B;
}
.motion_item_cts .motion_status{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
  color: #fff;
  margin-left: 13px;
  white-space: nowrap;
}
.motion_item_content_text{
  word-break: break-all;
  max-height: 230px;
  overflow: hidden;
}
.motion_circle{
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: #fff;
  margin-right: 5px;
}
.motion_item_ct{
  padding-top: 45px;
  justify-content: space-between;
}
.motion_item_content{
  padding-right: 0px;
}
.motion_item_status{
  margin-left: 20px;
  width: 32%;
}
.md_title{
  font-size: 22px;
  line-height: 1;
  color: #000;
}
.md_des{
  padding-top: 28px;
  font-size: 15px;
  line-height: 28px;
}
.tab_pane{
  border: 1px solid #E5E5E5;
  margin-top: 27px;
}
.tab_header{
  display: flex;
  background: #E5E5E5;
  color: #000;
}
.tab_item{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.tab_items{
  padding: 0px 17px;
  padding-bottom: 45px;
  position: relative;
}
.tab_selected_arrow{
  display: none;
}
.tab_selected{
  background: #000;
  color: #fff;
}
.tab_selected .tab_selected_arrow{
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  position: absolute;
  top: 34px;
  z-index: 1;
  background: #000;
}
.tab_item_title{
  font-size: 16px;
  line-height: 1;
  padding-bottom: 15px;
  padding-top: 25px;
}
.tab_item_tags{
  font-size: 12px;
  color: #898989;
  line-height: 22px;
}
.motion_res_title{
  font-size: 16px;
  line-height: 1;
}
.toke_coin_form{
  margin-top: 38px;
}
.take_coin_btn{
  display: block;
  background: #2196F3;
  text-align: center;
  padding: 11px 10px;
  border-radius: 3px;
  color: #fff;
}
.max_quantitiy_tag{
  color: #fff;
  background: #009688;
  padding: 3px 5px;
  border-radius: 3px;
}
.cm_box{
  border: 1px solid #eee;
}
.cm_box_title{
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.cm_box_content{
  border-top: 0px;
  padding: 0px 10px;
}
.take_coin_record{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}
.taker{
  padding-bottom: 10px;
}
.taker_title{
  font-size: 12px;
  color: #999;
}
.orange_ft{
  color: orange;
}
.green_ft{
  color: green;
}
.gray_ft{
  color: #898989;
}
.orange_tag{
  background-color: #D6BA37;
}
.green_tag{
  background-color: #33B87E;
}
.red_tag{
  background-color: #C54A5C;
}
.gray_tag{
  background-color: #BFBFBF;
}

.mobile_nav{
  display: none;
}
.mobile_top_show{
  display: none;
}
.mobile_motion_item_ct{
  display: none;
}
.mobile_detail_ct{
  display: none;
}

.comment_box .icon{
    background-image: url("../images/message_icon.png");
}

.approve{
  background-image: url('../images/同意@2x.png');
}
.reject{
  background-image: url('../images/反对@2x.png');
}

@media (max-width: 800px) {
  body{
    background: #fff;
  }
  .view_instruction{
    position: relative;
    top: auto;
    display: inline;
    font-size: 12px;
  }
  .top_nav{
    display: none;
  }
  .comm_main{
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }
  .main_title{
    display: none;
  }
  .main_des{
    display: none;
  }
  .mobile_top_show{
    margin-top: 15px;
    display: block;
  }
  .mobile_top_show .main_des_bg{
    border-radius: 10px;
    overflow: hidden;
    height: 140px;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .mobile_nav{
    height: 40px;
    border-bottom: 0.5px solid #E2E2E2;
    margin-left: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
  .items_title .tags_ct .tag_item{
    font-size: 12px;
    padding: 2px 2px;
    cursor: pointer;
  }
  .motion_item_ct{
    display: none;
  }
  .mobile_motion_item_ct{
    display: block;
    border-bottom: 1px solid #eee;
  }
  .mobile_motion_item_ct .motion_item_title{
    padding-bottom: 16px;
  }
  .mobile_motion_item_ct .motion_item_content{
    width: 100%;
    padding-right: 0px;
    padding-bottom: 23px;
  }
  .mobile_motion_item_ct .motion_item_content_text{
    max-height: 114px;
    overflow: hidden;
  }
  .mobile_detail_ct{
    display: block
  }
  .mobile_detail_ct .motion_item_ct{
    display: block;
  }
  .mobile_detail_ct .motion_item_ct .motion_item_content{
    width: 100%;
  }
  .mobile_detail_ct .motion_item_ct .motion_item_status{
    width: 100%;
    margin-left: 0px;
  }
  .tab_header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  .tab_pane{
    border: none;
  }
  .tab_selected{
    font-weight: bold;
    background: none;
    color: #000;
    border-bottom: 2px solid #000;
  }
  .tab_selected .tab_selected_arrow{
    display: none;
  }
  .tab_content{
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  .motion_res_title{
    font-size: 22px;
    padding-top: 40px;
  }
  .login_module{
    width: 100%;
    justify-content: space-between;
    padding-right: 15px;
  }
  .publish_ct .pb_title{
    padding-top: 30px;
  }
  .publish_ct .close_icon{
    top: 65px;
    right: 10px;
  }
  .publish_action_ct .publish_btn{
    position: fixed;
    left: 10px;
    right: 10px;
    text-align: center;
    border-radius: 4px;
    bottom: 10px;
    width: auto;
  }
}