<template>
  <div class="publish_ct" v-main-scroll-forbidden>
    <!-- close_icon_start -->
    <div class="close_icon" @click="go_back">
      <div class="close_item close_icon_1"></div>
      <div class="close_item close_icon_2"></div>
    </div>
    <top_nav></top_nav>
    <!-- close_icon_end -->
    <!-- publish_form_start -->
    <div class="comm_main">
      <top_title></top_title>

      <div class="pb_title">{{ lang.data['发起提案'] }}</div>

      <div class="comm_form">

        <div class="form_item_ct">
          <div class="form_item_tag">{{ lang.data['提案标题'] }}</div>
          <div class="form_item_ipt">
            <input class="item_ipt" :placeholder="lang.data['输入']" v-model="form_items.title.value" />
          </div>
          <div class="form_item_error">{{ form_items.title.error }}</div>
        </div>

        <div class="form_item_ct">
          <div class="form_item_tag">{{ lang.data['提案简介'] }}<a  target="_blank" class="editor_view_template" href="https://github.com/eosforce/Dao/blob/master/EDBS/%E5%8E%BB%E4%B8%AD%E5%BF%83%E5%8C%96%E9%A2%84%E7%AE%97%E7%B3%BB%E7%BB%9F%E5%BC%80%E5%8F%91%E8%B4%B9%E7%94%A8%E7%94%B3%E8%AF%B7%E6%A8%A1%E7%89%88.md">{{ lang.data['[查看内容模板]'] }}</a></div>
          <div class="form_item_ipt">
            <textarea class="item_ipt item_text_area" :placeholder="lang.data['输入']" v-model="form_items.content.value" ></textarea>
          </div>
          <div class="form_item_error">{{ form_items.content.error }}</div>
        </div>

        <div class="form_item_ct">
          <div class="form_item_tag">{{ lang.data['申请token数量(必须为数字)'] }}</div>
          <div class="form_item_ipt">
            <input class="item_ipt" :placeholder="lang.data['输入']" v-model="form_items.quantity.value" />
          </div>
          <div class="form_item_error">{{ form_items.quantity.error }}</div>
        </div>

        <div class="form_item_ct">
          <div class="form_item_tag">{{ lang.data['更多细则'] }}</div>
          <div class="form_item_ipt">
            <input class="item_ipt" :placeholder="lang.data['更多细则可通过Github附件提交']" v-model="form_items.more_content.value" />
          </div>
          <div class="form_item_error">{{ form_items.more_content.error }}</div>
        </div>

      </div>

      <div class="publish_action_ct">
        <a class="publish_btn" @click="publish">{{ lang.data['提交'] }}</a>
      </div>

    </div>
    <!-- publish_form_end -->

  </div>
</template>
<script>
import item_title from '../modules/items_title.vue'
import top_title from '../modules/top_title.vue'
import top_nav from '../modules/header.vue'
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import {
  wait_time
} from '../utils'
import {
  publish,
  open_and_plege,
  call_scatter
} from '../service'
import { lang } from '../lang'
export default {
  data () {
    return {
      lang,

      from_route: null,
      title: '',
      form_items: {
        title: {
          value: '',
          is_required: true,
          error: ''
        },
        content: {
          value: '',
          is_required: true,
          error: ''
        },
        quantity: {
          value: '',
          is_required: true,
          type: 'number',
          error: ''
        },
        more_content: {
          value: '',
          error: '',
          contains: 'github.com'
        }
      }
    }
  },
  computed: {
    proposer () {
      return this.scatter_configs.scatter_instance.auth.actor;
    },
    prop_content () {
      return this.form_items.content.value + this.form_items.more_content.value;
    },
    ...mapState(['account_info', 'scatter_configs'])
  },
  beforeRouteUpdate (to, from, next) {
    this.from_route = from;
  },
  methods: {

    validate () {
      let res = true;
      for(let _key in this.form_items){
        let item = this.form_items[_key];
        item.error = '';
        let is_error = false;
        if(!item.value && item.is_required){
          is_error = true;
          item.error = lang.data['必填'] || '必填';
          res = false;
        }

        if(item.type && item.type == 'number'){
          let nums = new Set([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]);
          let arr = item.value.split('');
          if(arr.filter(i => i == '.').length > 1){
            item.error = lang.data['填写正确的类型'] || '填写正确的类型';
            is_error = true;
            res = false;
          }
          if( arr.filter(i => !nums.has(parseInt(i))).length ){
            item.error = lang.data['填写正确的类型'] || '填写正确的类型';
            is_error = true;
            res = false;
          }
        }

        if(item.value && item.contains){
          let _index = item.value.indexOf(item.contains);
          if(_index < 0){
            item.error = lang.data['格式不正确'] || '格式不正确';
            is_error = true;
            res = false;
          }
        }

      }
      return res
    },

    async publish () {
      if(!this.validate()){
        return ;
      }
      await publish({
        proposer: this.proposer,
        title: this.form_items.title.value,
        content: this.prop_content,
        quantity: this.form_items.quantity.value
      })
      .catch(error => {
        alert(error);
        throw error;
      });
      setTimeout(() => {
        this.query_motions(true);
      }, 6000);
      this.go_back();

    },
    
    go_back () {
        
      if(!this.from_route){
        this.$router.push({
          name: 'app'
        })
      }else{
        this.$router.go(-1);  
      }
        
    },

    ...mapActions({
      query_motions: 'query_motions'
    })

  },
  components: {
    top_title,
    top_nav
  }
}
</script>